<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63204967485-8o2qc4ufprlf7gc1p120671jomp8g3n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63204967485-8o2qc4ufprlf7gc1p120671jomp8g3n4</string>
	<key>API_KEY</key>
	<string>AIzaSyAzBRaEaJbgUpPe-TcqCIsVZHNyzlNR3PU</string>
	<key>GCM_SENDER_ID</key>
	<string>63204967485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afirmation</string>
	<key>PROJECT_ID</key>
	<string>afirmation-9282b</string>
	<key>STORAGE_BUCKET</key>
	<string>afirmation-9282b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63204967485:ios:13116a73e2c5bda76f5654</string>
</dict>
</plist>